[MAIN]
ignore=CVS  # Dossiers à ignorer
py-version=3.12  # Version Python

[BASIC]
argument-naming-style=snake_case  
class-naming-style=PascalCase  
const-naming-style=UPPER_CASE  
function-naming-style=snake_case  
method-naming-style=snake_case  

[DESIGN]
max-args=5  
max-attributes=7  
max-branches=12  
max-statements=50  

[EXCEPTIONS]
overgeneral-exceptions=builtins.Exception  

[FORMAT]
max-line-length=100  
indent-string='    '  
ignore-long-lines=^\s*(# )?<?https?://\S+>?$  

[IMPORTS]
known-third-party=enchant  
allow-wildcard-with-all=no  

[LOGGING]
logging-format-style=old  

[MESSAGES CONTROL]
disable=raw-checker-failed,bad-inline-option  

[METHOD_ARGS]
timeout-methods=requests.api.get,requests.api.post  

[MISCELLANEOUS]
notes=FIXME,XXX,TODO  

[REFACTORING]
max-nested-blocks=5  

[REPORTS]
reports=no  

[SIMILARITIES]
min-similarity-lines=4  

[TYPECHECK]
ignore-none=yes  
missing-member-hint=yes